{% extends "base.html" %}


{% block title %}
    Sign Up
{% endblock %}


{% block content %}
    <br>
    <div class="card bg-body-tertiary shadow">
        <div class="card-body">
            <form method="POST">
                <h3 align="left">Sign Up</h3>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" >
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" >
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirm your password</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
